<h1>Metric Values</h1>
<%= link_to 'Back to Metrics', metrics_index_path %>
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>User</th>
    </tr>
    <%= render partial: 'metric_values', collection: @metric_values, as: :metric_value %>
</table>