<h1>Hoopla Metrics</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Format</th>
        <th>Currency</th>
    </tr>
    <%= render partial: 'metrics', collection: @metrics, as: :metric %>
</table>



